@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700&family=Indie+Flower&family=Kumbh+Sans&display=swap');
body {
  background-color: #30e3ca;

}

#container {
  box-shadow: 10px 10px 5px #40514e;
  width: 360px;
  margin: 100px auto;
  background-color: #11999e;
  }

  .completed {
    color: #e4f9f5;
    text-decoration: line-through;
  }


h1{
  background-color: #11999e;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Grandstander', cursive;
}

input {
  font-size: 18px;
  background: #e4f9f5;
  color: #40514e;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:focus{
  background: #e4f9f5;
  border: 3px solid #40514e;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  font-family: 'Indie Flower', cursive;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

li:nth-child(2n){
  background: #e4f9f5;
  color: #40514e;
}

.fa-plus {
  float: right;
  font-size: 25px;

}

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

/* Media Queries  */

@media (max-width: 380px) {
  #container {
    width: 330px
  }
@media (max-width: 353px) {
  #container {
    width: 280px
  }
